mixin item_footer(title,text1,text2,text3,text4)
  .footer-menu__item
    h4.footer-menu__title=title
    ul.footer-menu__list
      li.footer-menu__list-item
        a.footer-menu__list-link.menu-link(href="#")=text1
      li.footer-menu__list-item
         a.footer-menu__list-link.menu-link(href="#")=text2
      li.footer-menu__list-item
        a.footer-menu__list-link.menu-link(href="#")=text3
      li.footer-menu__list-item
         a.footer-menu__list-link.menu-link(href="#")=text4