mixin item_trending(img,subtitle,title,ne,old,count)
  .trending__item.item
    .trending__img-box
      img(src=img,alt="картинка")
    .trending__info

      .trending__title-box
        span.middle-title.trending-span=subtitle
        h4.middle-title.trending-title=title

      .rating__box
        .reting__box-price
          .price-new
            p=ne
          .price-old
            p=old
        .reting__box-stars
          .rating(data-rating=count)
            .rating__star
            .rating__star
            .rating__star
            .rating__star
            .rating__star

