mixin item_trending(img,subtitle,title,text,text,count)
  .feature__item.item
    .feature__img-box
      img(src=img,alt="картинка")
    .feature__info
      .feature__title-box
        span.middle-title.feature-span=subtitle
         h3.middle-title.feature-title=title
      .rating__box
        .reting__box-price
          .price-new
            p=text
          .price-old
            p=text
        .reting__box-stars
          .rating(data-rating=count)
            .rating__star
            .rating__star
            .rating__star
            .rating__star
            .rating__star

